<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>  /* it is framework which have predefined functions */
</head>
<body>
    <h1>hey<%= 2+2 %></h1>
    <style src="/javascripts/script.js"></style>
    <div class="bg-gray-400 p-4 rounded-md shadow-md">
        <h1 class="text-5xl font-bold text-blue-800">Hello, Tailwind!</h1>
        <p class="mt-40 text-gray-700">This is a quick example of using Tailwind classes.</p>
      </div>
    
</body>
</html>