<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Database2/public/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/Database2/public/javascripts/script.js"></script>
</head>
<body>
    <div  class="w-full h-full bg-zinc-900 p-10 text-white">
        
        <h1 class="text-3xl w-50 tracking-tighter ">Create User</h1>
        <form action="/create" method="post">
            <div class="flex flex-grow flex-wrap ">
                <input class="px-5 py-3 border-2 border-zinc-800 outline-none bg-transparent m-3" type="text" name="name" placeholder="name" >
                <input class="px-5 py-3 border-2 border-zinc-800 outline-none bg-transparent m-3" type="text" name="email" placeholder="email">
                <input class="px-5 py-3 border-2 border-zinc-800 outline-none bg-transparent m-3" type="text" name="image" placeholder="image url">
            </div>
            <div class="flex">
            <input class="px-5 py-2 bg-blue-500 rounded-lg m-3" type="submit" value="Create User">
            <div class="nav w-[120px] h-[43px] pt-[8.5px] rounded-lg mt-[10px] bg-red-500">
                <a class="px-5  text-white-500 "  href="/read">Read Users</a>
            </div>
        </div>
        </form>
    </div>

</body>
</html>