<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="tasks flex min-screen  bg-zinc-700 p-10  rounded-md  pl-10">
        <div class="main bg-zinc-800 w-full min-h-screen  p-10 text-white">
            <a class="text-blue-500 inline-block mb-10" href="/">Go Back</a>
            <h1 class="text-4xl tracking-tighter"><%= filename %></h1>
            <p class="text-xl mt-5 font-light"><%= filedata %></p>
        </div>
    </div>     
 
    
</body>
</html>